.card-img-top {
  width: 100%;
  height: 10vh;
  object-fit: scale-down;
  object-position: center;
}

.card-text {
  font-size: 15px;
  width: 100%;
  height: 5em;
}

.card-body {
  width: 100%;
  text-align: left;
  object-position: bottom;
}

#main {
  height: auto;
}

.surveyRandom {
  font-size: 1px;
}
 
 .btn {
  width: 100%;
  
}

.links {
  width: 100%;
  
}

.rightsec{
max-height: 10px;

}

.divline{

  margin: 0px
}